
.formTitle {
    text-align: center;
    font-size: 24px;
    color: #cccccc;
    font-weight: 600;
}

.fillHorizontal {
    width: 100vw;
}

.runButton {
    margin-top: 10px;
    font-weight: 800;
}

.showCodeView {
    text-align: left;
    margin-top: 10px;
}

.react-monaco-editor-container {
    border: 1px solid wheat;
}